.page{
	width:100%;
	height:1100px;
	background-color:#fff;
	}

.controls{
	display : table-header-group;
	width: 100%;
	margin : auto;
}

.board{
	display: table;
	width:60%;
	margin:auto;
}

.board-row
{
	display: table-row-group;
	width: 100%;
	margin:auto;
}



.cell-closed
{
	display : table-cell;
	background-color : #0375B4;
	height : 34px;
	width : 34px;
	border: 1px solid #fff;
    float:left;
    font-size: 24px;
    font-weight: bold;
}


.cell-marked
{
	display : table-cell;
	background-color : #4CAF50;
	height : 34px;
	width : 34px;
	border: 1px solid #fff;
    float:left;
    font-size: 24px;
    font-weight: bold;
}

.cell-open
{
	display : table-cell;
	background-color : #fff;
	height : 34px;
	width : 34px;
	border: 1px solid #0375B4;
    float:left;
    font-size: 24px;
    font-weight: bold;
    
}

.cell-mine
{
	display : table-cell;
	background-color :#A00808  ;
	height : 34px;
	width : 34px;
	border: 1px solid #fff;
    float:left;
    font-size: 24px;
    font-weight: bold;
    
}

.cell-wrong-mark
{
	display : table-cell;
	background-color :#338223  ;
	height : 34px;
	width : 34px;
	border: 1px solid #fff;
    float:left;
    font-size: 24px;
    font-weight: bold;
    color : #A00808;
    
}

.controls button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
}

input[type=text] {
	width:30px;
	height : 20px;
    background-color: #4CAF50;
    color: white;
    border: 1px #fff;
    padding: 14px 20px;
    text-align: center;
    font-size: 16px;
}

select {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
}




.board-row:after {
  clear: both;
  content: "";
  display: table;
}



 
header{

 display : block;
 overflow:hidden;
 height: 150px;
 background-color :  #fff;
 
 
}



h1
{
	background-color : #fff;
	color : #0375B4;
	float : left;
	margin-left : 5%;
}